@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20877');
@import url('https://fonts.cdnfonts.com/css/ibm-plex-mono?styles=20297,20295');

:root {
    --ratio: 1.2;
    --measure: 70ch;
    --fontsize-base: clamp(1rem, calc(0.25rem + 2.2222vw), 1.25rem);
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --line-height: 1.75;
    --border-thin: var(--s-5);
    --border-thick: var(--s-2);
    font-size: var(--fontsize-base);
    line-height: var(--line-height);
}

*,
::after,
::before {
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0 solid;
}


/*
 ***********************************************************
 *
 * Typography
 *
 ***********************************************************
 */

* {
    max-inline-size: var(--measure);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

html,
body,
div,
header,
nav,
main,
footer {
    max-inline-size: none;
}

strong {
    font-weight: 700;
}

ul {
    list-style-position: inside;
    padding-left: 1em;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    background-color: #ddd;
    padding: 0 .2rem;
}

h1,
h2,
h3 {
    margin-bottom: 1rem;
    font-family: 'Gilroy-Heavy', sans-serif;
    line-height: var(--ratio);
}

h1 {
    font-size: var(--s5);
}

h2 {
    font-size: var(--s3);
}

h3 {
    font-size: var(--s1);
}

blockquote p {
    font-weight: 700;
    padding: 0 var(--s2);
}

p a:hover {
    text-decoration-style: double;
}

main > * + * {
    margin-top: var(--s3);
}

p+p,
main p+p {
    margin-top: var(--s-1);
}

footer,
main > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
}

figcaption svg,
h1 svg,
h2 svg,
h3 svg,
li svg,
p svg {
    width: .75em;
    height: .75em;
    margin: 0 0 0 .25em;
}

p svg {
    margin-bottom: .25em;
}

h1 a:hover,
h2 a:hover,
h3 a:hover {
    border-bottom: 0.1em solid black;
}

#home-link {
    display: block;
    text-decoration: none;
}

#home-link span {
    font-family: 'Gilroy-Heavy', sans-serif;
    font-size: var(--s2);
}

#project-tagline {
    font-size: var(--s-1);
    font-style: italic;
}


/*
 ***********************************************************
 *
 * Layout
 *
 ***********************************************************
 */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

#page {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    background-color: white;
}

header,
main {
    padding: var(--s2);
}

header {
    flex-basis: 13rem;
    flex-grow: 1;
    padding-top: var(--s2);
    background-color: black;
    color: white;
}

main {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 70%;
    padding-right: var(--s1);
}

footer {
    flex-grow: 999;
    max-inline-size: 100vw;
    width: 100vw;
    color: white;
    padding-top: var(--s0);
    font-size: var(--s-1);

    background: no-repeat black top left/2rem url("../images/icon.svg");
    display: flex;
}

/* Header and nav */

header button {
    cursor: pointer;
    position: fixed;
    font-size: var(--s0);
    line-height: 1.1;
    padding: var(--s-1);
    display: none;
}

header #menu-button {
    cursor: pointer;
    position: fixed;
    top: var(--s2);
    right: var(--s1);
}

header button svg {
    width: .75em;
    height: .75em;
    stroke: currentColor;
    stroke-width: 4;
    fill: none;
}

header #jump-button {
    top: var(--s2);
    left: var(--s1);
}

nav {
    margin-top: var(--s0);
}

@media (max-width:866px) {
    header #menu-button {
        display: block;
    }

    header #jump-button {
        display: none;
    }

    nav {
        display: none;
    }

    [aria-expanded=true]~nav {
        display: block
    }
}

nav ul {
    list-style: none;
}

nav ul ul {
    margin-left: var(--s1);
}

nav a {
    display: inline-block;
    line-height: var(--s2);
    font-size: var(--s0);
    font-weight: 700;
    text-decoration: none;
}

[aria-current=true] {
    text-decoration: underline;
}

nav ul ul a {
    font-size: var(--s-1);
}

nav a:hover {
    text-decoration: underline;
}

#skip-to-content {
    display: none;
}


/* Content */

figure {
    text-align: center;
}

figure img {
    max-width: 100%;
}

figure img.narrow {
    width: 40%;
    min-width: 15rem;
}

figcaption {
    font-size: var(--s-1);
    font-style: italic;
    text-align: center
}

.footnotes {
    border-top: 2px dashed black;
    padding: var(--s0);
}

/* Footer */

footer #site-footer-owner {
    display: inline-block;
    width: calc(100% - 0.66rem);
    height: 100%;
    max-inline-size: 100vw;
    border-top: 2px dashed white;
    padding: var(--s0) 0;
    margin-left: var(--s0);
}

footer::before {
    content: "";
    margin-top: var(--s-1);
    background-color: white;
    padding: 0.35rem 0.33rem;
}

#external-link,
#anchor {
    visibility: hidden;
}
